<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
	<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>我的信息</title>
    <style type="text/css">
    body{
    	background-color: #99CCCC;
    	padding-top: 10px;
    	font-size: 16px;
    	font-weight: 500;
    }
    #table{
    	font-size: 18px;
    	font-weight: 200px;
    }
    #head{
    	font-size: 26px;
    	margin-bottom: 20px;
    }
    p{
    	padding-left: 10px;
    }
    a{
    	text-decoration: none;
    	color: #000;
    }
    a:hover{
    	text-decoration: none;
    }
    .border{
    	border: 1px solid #8899ff;
    }
    </style>
    <script type="text/javascript">
    function depart(dep){
    	window.location="/depart/"+dep;
    }
    </script>
</head>
<body class="container">
<div id="head">
	<img src="http://nkumstc.cn/static/img/mstc.png" width="80" height="80">
	南开大学微软学生俱乐部
</div>
<div>
		
	
	<div class="col-md-9 col-md-offset-1" id="">
		<div class="btn-group">
			<button onclick="depart('all')" class="btn btn-primary">全部</button>
			<button onclick="depart('pre')" class="btn btn-primary">主席团</button>
			<button onclick="depart('tech')" class="btn btn-primary">技术部</button>
			<button onclick="depart('ope')" class="btn btn-primary">运营部</button>
			<button onclick="depart('adv')" class="btn btn-primary">宣传部</button>
			<button onclick="depart('me')" class="btn btn-primary active">我的信息</button>
			<button onclick="depart('logout')" class="btn btn-danger">注销</button>
		</div>
		<table class="table">
			<tr>
				<td>
					姓名
				</td>
				<td>
					{{user.name}}
				</td>
			</tr>
			<tr>
				<td>
					部门
				</td>
				<td>
					{{user.sec.name}}
				</td>
			</tr>
			<tr>
				<td>
					年级
				</td>
				<td>
					{{user.grade}}
				</td>
			</tr>
			<tr>
				<td>
					学院
				</td>
				<td>
					{{user.college}}
				</td>
			</tr>
			<tr>
				<td>
					专业
				</td>
				<td>
					{{user.major}}
				</td>
			</tr>
			<tr>
				<td>
					手机
				</td>
				<td>
					{{user.phone}}
				</td>
			</tr>
			<tr>
				<td>
					QQ
				</td>
				<td>
					{{user.qq}}
				</td>
			</tr>
		</table>
	</div>
</div>
<div>
	
</div>
</body>
</html>