<!DOCTYPE html>
<html lang=zh-cn>
	<head>
		<meta charset='utf-8'>
	</head>
	<h5 align="left">亲爱的NKUMSTCer</h5>
	<p>
	<strong>南微软通讯录</strong><sub>V1.0</sub>正式发布啦!<br/>
	小伙伴们快来<a href="http://member.nkumstc.cn/reg/?invitecode={{ code }}">member.nkumstc.cn/reg/?invitecode={{ code }}</a >录入自己的信息吧！请拿好邀请码: <strong><code>{{ code }}</code></strong>(注意:每个人只有一个邀请码，而且是唯一的哦！如果没有自动填充，请将该邀请码复制进注册页面的邀请码一栏。)
		</p >
		<p> 温馨提示:<br/>
		<ol>
			<li>注册过程中要填写很多信息，这些信息是我们社团进行信息采集的必需项。</li>
			<li>由于信息项过多，并且页面目前采用一次性填写。所以请您务必认真填写。一旦填写错误将不可更改。(第一版暂不支持修改！)</li>
			<li>所有信息均只有俱乐部成员可见，系统安全性我们会为你保证。</li>
			<li>通讯录系统是俱乐部的最主要的信息管理系统和核心档案系统，请尽快于今天完成注册。</li>
			<li><em>再次申明:请您耐心，认真地，一次成功地填写注册所需的所有项目。</em></li>
		</ol>
		</p >
		<p>由于我们的网站开发时间较短，很多地方做的尚不完善，还请您多多谅解。若您发现网站的问题，或者意见，请反馈至<a href="mailto:member@nkumstc.cn">member@nkumstc.cn</a >。（当然你可以直接回复啦！）
			</p >
			<p>请记住俱乐部在线通讯录地址member.nkumstc.cn(member=>成员，nkumstc=>南微软英文缩写，cn=>中国域名)。更多功能敬请期待！</p >
			<p>小伙伴们快来愉快的玩耍吧！<br/>:)</p >
			<h6 align="right">南微软技术部 通讯系统项目组</h6>
		</html>
