<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>找回密码</title>
    <style type="text/css">
    body{
        font-family: Arial, Helvetica, sans-serif;
        
        padding: 20px 100px;
    }
    body{
        background-color: #AADDFF;
        padding-top: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    #head{
        font-size: 44px;
        margin-bottom: 55px;
        font-weight: 700;
    }
    form{
        margin-top: 10%;
    }
    hr{
        border-color: black;
    }
    .warning{
        color:red;
    }
    </style>
    <script type="text/javascript">
       
        function check_email(){

            {% if not return_value_email %}
                document.getElementById('id_t_warning').hidden="hidden";
            {% endif %}
            
            document.getElementById('id_warning').hidden="hidden";
           
            var str  = document.getElementById('id_email').value;
              var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;

            var flag = reg.test(str);
            
            if(flag){
                document.getElementById('id_warning').hidden="hidden";
                document.getElementById('formemail').submit();
            }
            else{
                document.getElementById('id_warning').hidden="";
            }
        }

        function hide_label () {
            {% if not return_value_email %}
                document.getElementById('id_t_warning').hidden="hidden";
            {% endif %}
        }
    </script>
</head>

<body class="container">
    
    <div id="head">
        <img id="_img"src="http://nkumstc.cn/static/img/mstc.png" width="100" height="100" style="margin-right: 25px">南开大学微软学生俱乐部
    </div>
    <hr>
    <form  id="formemail" action="/reset_password/" method="post">
    <label class= "col-md-2 col-md-offset-3" for="id_email" >请输入邮箱</label>
    <input id="id_email" type="text" onchange="hide_label()" name="email">
    <label id="id_warning" hidden="hidden" class="warning" >邮箱格式不正确</label>

   
    {% if not return_value_email %}   <!-- 邮箱不正确时返回False -->
        <label id="id_t_warning" class="warning" >邮箱不正确</label>
    {% endif %}
    
    <br>
    <br>
    <br>
    <input class="col-md-4 col-md-offset-3 btn btn-success" type="button" onclick="check_email()" value="下一步">
    </form>

</body>
</html>