<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>找回密码</title>
    <style type="text/css">
   
    body{
        font-family: Arial, Helvetica, sans-serif;
        
        padding: 20px 100px;
    }
    body{
        background-color: #AADDFF;
        padding-top: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    #head{
        font-size: 44px;
        margin-bottom: 55px;
        font-weight: 700;
    }
    form{
        margin-top: 10%;
    }
    hr{
        border-color: black;
    }
    .warning{
        color:red;
    }
    </style>
    <script type="text/javascript">
        function hide_label_1 () {

            {% if not return_value_notempty %}
                document.getElementById('t_warning_1').hidden="hidden";
            {% endif %}
        }
        function hide_label_2 () {
            {% if not return_value_notdiff %}
                document.getElementById('t_warning_2').hidden="hidden";
            {% endif %}
        }
        function hide_label_3 () {
             {% if not return_value_wrongstr %}
                document.getElementById('t_warning_3').hidden="hidden";
            {% endif %}
        }
        function check_password(){
            {% if not return_value_notempty %}
                document.getElementById('t_warning_1').hidden="hidden";
            {% endif %}
            {% if not return_value_notdiff %}
                document.getElementById('t_warning_2').hidden="hidden";
            {% endif %}
            {% if not return_value_wrongstr %}
                document.getElementById('t_warning_3').hidden="hidden";
            {% endif %}

            document.getElementById('id_warning_1').hidden="hidden";
            document.getElementById('id_warning_2').hidden="hidden";
            document.getElementById('id_warning_3').hidden="hidden";

            if(document.getElementById('id_newpassword').value!=""){

                if(document.getElementById('id_password_confirm').value== document.getElementById('id_newpassword').value){

                    if(document.getElementById('id_str ')).value!=""){
                    document.getElementById('id_warning_1').hidden="hidden";
                    document.getElementById('id_warning_2').hidden="hidden";
                    document.getElementById('formpassword').submit();
                    }
                    else{
                        document.getElementById('id_warning_3').hidden="";
                    }
                }
                else{
                    document.getElementById('id_warning_2').hidden="";
                }
            }
            else{
                document.getElementById('id_warning_1').hidden="";
            }

        }
    </script>
</head>

<body class="container">
    
    <div id="head">
        <img id="_img"src="http://nkumstc.cn/static/img/mstc.png" width="100" height="100" style="margin-right: 25px">南开大学微软学生俱乐部
    </div>
    <hr>
    <form id="formpassword" action="/reset_code_result/" method="post">
        我们已经向您的邮箱中发送一封验证邮件，请进入邮箱查看
        <label class= "col-md-2 col-md-offset-3" for="id_newpassword">请输入新密码</label>
        <input id="id_newpassword" name="password" type="password" onchange="hide_label_1()">
        <label class="warning" id="id_warning_1" hidden="hidden">密码不能为空</label>
        {% if not return_value_notempty %}           <!-- 密码为空时返回False -->
        <label id="t_warning_1" class="warning" >密码不能为空</label>
        {% endif %}

        <br>
        <br>
        <label class= "col-md-2 col-md-offset-3" for="id_password_confirm">确认密码</label>
        <input type="password" name="password_confirm" id="id_password_confirm" onchange="hide_label_2()">
        <label id="id_warning_2" hidden="hidden" class="warning">密码不一致</label>
        {% if not return_value_notdiff %}                    <!-- 密码不一致时返回False -->
        <label id="t_warning_2" class="warning">密码不一致</label>
        {% endif %}

        <br>
        <br>
        <label for="id_str" class="col-md-2 col-md-offset-3">验证码（位于邮件中）</label>
        <input id="id_str" name="code" onchange="hide_label_3()" type="text">
        <label id="id_warning_3" hidden="hidden" class="warning">请输入验证码</label>        
        {% if not return_value_wrongstr %}   <!-- 验证码错误时返回False -->
        <label id="t_waning_3" class="warning" >验证码不正确或已过期</label>
        {% endif %}

        <br>
        <br>
        <input class="col-md-4 col-md-offset-3 btn btn-success" type="button" onclick="check_password()" value="提交">
    </form>

</body>
</html>

