<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="编程之美,程序员,程序媛,程序猿,码农,邹欣,代码,编程,ACM">
        <title>2015 编程之美挑战赛 | Beauty of Programming 2015</title>
        <link rel="apple-touch-icon" sizes="57x57" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-57x57.png?1427824588.png">
        <link rel="apple-touch-icon" sizes="60x60" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-60x60.png?1427824588.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-72x72.png?1427824588.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-76x76.png?1427824588.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-180x180.png?1427824588.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-122x122.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-144x144.png?1427824588.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-152x152.png?1427824588.png">
        <link rel="apple-touch-icon" sizes="180x180" href="http://static.programming2015.cstnet.cn/images/icon/apple-icon-180x180.png?1427824588.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="http://static.programming2015.cstnet.cn/images/icon/android-icon-192x192.png?1427824588.png">
        <link rel="icon" type="image/png" sizes="32x32" href="http://static.programming2015.cstnet.cn/images/icon/favicon-32x32.png?1427824588.png">
        <link rel="icon" type="image/png" sizes="96x96" href="http://static.programming2015.cstnet.cn/images/icon/favicon-96x96.png?1427824588.png">
        <link rel="icon" type="image/png" sizes="16x16" href="http://static.programming2015.cstnet.cn/images/icon/favicon-16x16.png?1427824588.png">
        <link rel="manifest" href="http://static.programming2015.cstnet.cn/images/icon/manifest.json?1427824588.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="http://static.programming2015.cstnet.cn/images/icon/ms-icon-144x144.png?1427824588.png>
        <meta name="theme-color" content="#ffffff">
        <link type="text/css" rel="stylesheet" href="http://static.programming2015.cstnet.cn/styles/main.css?1426526358.css">
<!--        <link type="text/css" rel="stylesheet" href="--><!--">-->
        <link type="text/css" rel="stylesheet" href="http://static.programming2015.cstnet.cn/styles/docs.css?1426526358.css">
        <link type="text/css" rel="stylesheet" href="http://static.programming2015.cstnet.cn/styles/site.css?1427824588.css">
        <script type="text/javascript" src="http://static.programming2015.cstnet.cn/js/libs/jquery.min.js?1426526358.js"></script>
        <script type="text/javascript" src="http://static.programming2015.cstnet.cn/js/libs/jquery.widget.min.js?1426526358.js"></script>
        <script type="text/javascript" src="http://static.programming2015.cstnet.cn/js/common.js?1426526358.js"></script>
        <script type="text/javascript" src="http://static.programming2015.cstnet.cn/js/api.js?1426526358.js"></script>
        <script type="text/javascript" src="http://static.programming2015.cstnet.cn/js/metro.min.js?1426526358.js"></script>
        <script type="text/javascript">
            $(function() {
                var location_link = window.location.href;
                var index = location_link.indexOf('?');
                var chs_link = location_link.substr(0, index);
                var cht_link = chs_link + '?lang=cht';

                $("#J-chs").attr("href", chs_link);
                $("#J-cht").attr("href", cht_link);
            });
        </script>
    </head>
    <body class="metro">
        <!-- Header Background -->


<!-- Navigation Bar -->
<div class="navigation-bar">
    <div class="navigation-bar-content container">
        <span class="element-divider"></span>
        
        <span class="element-divider"></span>
        <ul class="element-menu">
            <li><a class="element active" href="./register">首 页</a></li>
            <span class="element-divider"></span>
            <li><a class="element active" href="./intro">大 赛 介 绍</a></li>
            <span class="element-divider"></span>
            <li><a class="element" href="./rules">大 赛 规 则</a></li>
            <span class="element-divider"></span>
            
        </ul>
        <span class="element-divider"></span>
                <div class="no-tablet-portrait no-phone">
            <span class="element-divider place-right"></span>
            <a class="element place-right" href="./register">注 册</a>
            <span class="element-divider place-right"></span>
            
        </div>
            </div>
</div>
        <style>
    table, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
    }
    .container h2{
        font-weight: bold;
    }
</style>


<div class="container">

<div class="second-header">
    <a href="./register"><img src="http://static.programming2015.cstnet.cn/images/2015/big-left-arrow-blue.png"></a>
    <p style="color: #0068b7;">大赛规则 Rules</p>
</div>

<div class="second-nav">
    <nav class="sidebar light">
        <ul>
            <li class="title"><a href="#intro"><i class="icon-book"></i>概述</a></li>
            <li class="title"><a href="#hihocoder">hihoCoder</a></li>
            <li><a href="#hPoints"><i class="icon-rocket"></i>命题、得分与排名规则</a></li>
            <li><a href="#hSub"><i class="icon-screen"></i>代码提交模式及其规则</a></li>
            <li><a href="#hLang"><i class="icon-code"></i>语言相关</a></li>
            <li><a href="#hEval"><i class="icon-checkmark"></i>评测结果</a></li>
            <li><a href="#hSample"><i class="icon-keyboard"></i>样题及题解</a></li>

            <li class="title"><a href="#codehunt">CodeHunt</a></li>
            <li><a href="#cRules"><i class="icon-file"></i>规则</a></li>
            <li><a href="#cPoints"><i class="icon-calculate"></i>得分</a></li>
            <li><a href="#cRank"><i class="icon-filter"></i>排名晋级</a></li>

        </ul>
    </nav>
</div>

<div class="page first leftOnly" style="margin-top: 60px">
    <div class="smallBadge"></div>
    <h2 id="intro">概述</h2>
    <div class="horizenDivider grey" style="margin-bottom: 10px;"></div>
    <p>欢迎大家参加编程之美 2015 挑战赛！</p>

    <p>今年，大赛分资格赛，初赛，复赛和决赛四部分。资格赛，初赛和复赛在网络比赛平台上举行。今年的网络平台包括 hihoCoder 平台和 Code Hunt 平台。两种平台下晋级下一轮比赛的比例一致。同时，我们欢迎大家同时利用两个平台参赛，我们将选取两个平台中排名较高的一个平台作为有效分数。</p>
</div>

<div class="page leftOnly">
    <div class="smallThunder"></div>
    <h2 id="hihocoder">hihoCoder 比赛规则</h2>
    <div class="horizenDivider grey" style="margin-bottom: 10px;"></div>
    <h4 id="hPoints">命题、得分与排名规则</h4>
    <div class="horizenDivider blue" style="margin-bottom: 5px"></div>
    <p>hihoCoder平台的参赛语言包括C++、C、C♯和Java。</p>
    <p>对于每一阶段的比赛中的各题，每道题分数根据难易程度有所不同。大赛的赛题的解答由参赛者在线提交至裁判系统运行，每一次运行会被判为正确或者错误。每道题均包含小/大两组规模不同的输入输出数据。小数据结果正确和大数据结果正确的分数不同。</p>
    <p>参赛者在各轮比赛中的排名由分数和提交时间决定。分数高者排名高；相同分数者提交程序用时较少者（下面称为“罚时”）排名较高。对于小数据判决结果，裁判系统会在运行后立即通知参赛者；如果错误之后再次提交，每错误一次罚时10分钟。大数据模式的判决结果和代码在该轮比赛结束之后立即公开。对于一个新提交，具体的排名及得分逻辑如下所述：</p>
    <ol>
        <li>如果编译错误，忽略此提交</li>
        <li>如果在小数据上运行出错，无论之前是否有过正确的提交，对此题加10分钟“出错罚时”</li>
        <li>如果在小数据上结果正确：</li>
        <ul type="square">
            <li>如果是第一次正确的提交，记“提交罚时”为当前比赛已过去的时间</li>
            <li>如果之前有过正确提交，替换“提交罚时”为当前比赛已过去的时间</li>
        </ul>
        <li>无论在大数据上运行正确与否，都不影响罚时</li>
    </ol><br>
    <p>比赛结束时：</p>
    <ol>
        <li>以最后一次正确通过小数据的提交为准，选手的得分为所有正确通过的大小数据分数的总和</li>
        <li>对于每一题，选手的罚时为：</li>
        <ul type="square">
            <li>如果小数据没有通过，罚时为0</li>
            <li>如果小数据通过了，无论大数据结果如何，罚时为“出错罚时” + “提交罚时”</li>
            <li>选手总的罚时是所有题目罚时的总和</li>
        </ul>
    </ol>
    <p style="color: red;">注：对于资格赛，只要做对任意一题之小数据结果就自动进入初赛，但仍保留大数据模式供参赛选手练习之用；资格赛结束时，依然会给出由分数 + 罚时进行的排名。</p>


    <h4 id="hSub">代码提交模式及其规则</h4>
    <div class="horizenDivider blue" style="margin-bottom: 5px"></div>
    <p><strong>注意事项：</strong></p>
    <ol>
        <li>只通过标准输入(STDIN)和标准输出(STDOUT)进行输入和输出数据。您的程序应该通过STDIN读入数据，并通过STDOUT输出数据。请不要访问其他资源例如磁盘文件;可能导致不确定的结果</li>
        <li>严格依照题目描述的格式输入输出数据。您的程序应该严格依照题目描述的格式输入输出数据。不符合描述格式的输出会导致系统判定您的程序为Wrong Answer</li>
        <li>样例输入/输出不包含系统全部的评测数据 题目中样例输入/输出只是为了编程者能更清楚了解题目的输入输出格式</li>
    </ol>

    <h4 id="hLang">语言相关</h4>
    <div class="horizenDivider blue" style="margin-bottom: 5px"></div>
    <h5>Java</h5>
    <p>您需要编写一个类名为Main(大小写敏感)的public类，类中包含入口main函数。请参考附录中的Java程序。</p>

    <h4 id="hEval">评测结果</h4>
    <div class="horizenDivider blue" style="margin-bottom: 5px"></div>
    <table border="1" style="width=100%">
        <tr>
            <td>判断结果</td>
            <td>缩写</td>
            <td>含义</td>
        </tr>
        <tr>
            <td>Accepted</td>
            <td>AC</td>
            <td>The solution has produced output that the judge system or a checker program accepts as correct.</td>
        </tr>
        <tr>
            <td>Time Limit Exceeded</td>
            <td>TLE</td>
            <td>The solution has run for longer time than permitted. This means either the time spent on all test cases exceeds the overall limit or that spent on a single test case exceeds the per-case limit.</td>
        </tr>
        <tr>
            <td>Memory Limit Exceeded</td>
            <td>MLE</td>
            <td>The solution has consumed more memory than permitted.</td>
        </tr>
        <tr>
            <td>Wrong Answer</td>
            <td>WA</td>
            <td>The solution has not produced the desired output.</td>
        </tr>
        <tr>
            <td>Runtime Error</td>
            <td>RE</td>
            <td>The solution has caused an unhandled exception (as defined by the runtime environment) during execution.</td>
        </tr>
        <tr>
            <td>Output Limit Exceeded</td>
            <td>OLE</td>
            <td>The solution has produced excessive output.</td>
        </tr>
        <tr>
            <td>Compile Error</td>
            <td>CE</td>
            <td>The solution cannot be compiled into any program runnable by the judge system.</td>
        </tr>
        <tr>
            <td>System Error</td>
            <td>SE</td>
            <td>The judge system has failed to run the solution.</td>
        </tr>
        <tr>
            <td>Validator Error</td>
            <td>VE</td>
            <td>The checker program has exhibited abnormal behavior while validating the output produced by the solution</td>
        </tr>
    </table>


    <h4 id="hSample">样题及题解：A+B Problem</h4>
    <div class="horizenDivider blue" style="margin-bottom: 5px"></div>

    <h5>Description</h5>
    <p>Given two integers a and b, calculate their sum a + b.</p><br>

    <h5>Input</h5>
    <p>The input contains several test cases. Each contains a line of two integers, a and b.</p><br>

    <h5>Output</h5>
    <p>For each test case output a+b on a seperate line.</p><br>

    <h5>Sample Input</h5>
            <pre class="prettyprint">
1 2
3 4
5 6</pre><br>

    <h5>Sample Output</h5>
                <pre class="prettyprint">
3
7
11</pre><br>

    <h5>C</h5>
                    <pre class="prettyprint">
#include <stdio.h>

int main(void) {
    int a, b;
    while(scanf("%d%d", &a, &b) != EOF) {
        printf("%d\n", a + b);
    }
    return 0;
}</pre><br>

    <h5>C++</h5>
                <pre class="prettyprint">
#include <iostream>

using namespace std;

int main(void) {
    int a, b;
    while(cin >> a >> b) {
        cout << a + b << endl;
    }
    return 0;
}</pre><br>

    <h5>Java</h5>
            <pre class="prettyprint">
import java.util.Scanner;

public class Main {
  public static void main(String[] args) {
    Scanner in = new Scanner(System.in);
    while(in.hasNext()) {
      int a = in.nextInt();
      int b = in.nextInt();
      System.out.println(a + b);
    }
  }
}</pre><br>
</div>


<div class="page leftOnly">
    <div class="smallThunder"></div>
    <h2 id="codehunt">Code Hunt 比赛规则</h2>
    <div class="horizenDivider grey" style="margin-bottom: 10px;"></div>

    <img src="http://static.programming2015.cstnet.cn/images/codehunt/0-3-codehunt.png">

    <h4 id="cRules">规则</h4>
    <div class="horizenDivider yellow" style="margin-bottom: 5px; width: 25%;"></div>
    <p>Code Hunt 的参赛语言为 C♯ 和 Java。</p>
    <p>在每一轮的比赛中，Code Hunt 将会为每组选手提供难易程度不同的多组题目，每一组题目内会包含若干子问题，每一个子问题也会有一个难度系数，参赛选手需要按照要求，写出代码，解决这些子问题。</p>
    <p>当选手提交代码并被检测通过后，系统会给出评分；如果提交的代码有错误，系统会给出相应提示。提示将会根据提交代码的不同而有所不同。</p>
    <img src="http://static.programming2015.cstnet.cn/images/codehunt/2-6-level.png">
    <br><br>
    <img src="http://static.programming2015.cstnet.cn/images/codehunt/0-3-codehunt.png">

    <h4 id="cPoints">得分</h4>
    <div class="horizenDivider yellow" style="margin-bottom: 5px; width: 25%;"></div>
    <p>在每一轮的比赛中，题目都会按照由简到难的顺序排列。</p>
    <p>当代码检测通过后，系统会根据代码的质量给出 1,2,3 不同等级的评判。评判标准将主要依据参赛选手给出代码的清晰度和简洁性以及你是否是第一个完成这个题目的选手。</p>
    <p>检测未通过的代码，不得分。</p>
    <p>得分的计算公式：</p>
    <p>得分的计算公式：</p>
    <p align="center"><strong><i>score = (k * sector + level) * (d + rating)</i></strong></p>
    <p>其中，<i>k</i> 代表每一组题目的难度，<i>sector</i> 是组号，<i>level</i> 是每一组内子问题的题号，<i>d</i> 是一个大于等于 3 的常数，<i>rating</i> 是系统对代码质量打的分数 (1，2，3) 。</p>
    <strong>举例：</strong>
    <p>对于第 2 组第 4 题 (02.04)，该组的难度为 1，选手提交代码的质量得分为 3，常数d这里设定为 5，则所得分数为:</p>
    <p align="center"><strong><i>score = (1 × 2 + 4) × (5 + 3) = 48</i></strong></p>
    <p>提交代码后，参赛选手可以返回已经提交的代码，继续修改，以期得到更高的质量分数。</p>

    <h4 id="cRank">排名晋级</h4>
    <div class="horizenDivider yellow" style="margin-bottom: 5px; width: 25%;"></div>
    <p>每一轮比赛过后，参赛选手都可以在积分榜上查看自己的排名情况。将会根据选手得分高低进行排名。</p>
    <p>代码的提交次数将不影响参赛选手的得分和排名。</p>
    <p>在得分相同的情况下，将会依据以下两个因素进行排名：</p>
    <ol>
        <li>参赛选手完成的所有问题中，难度系数高者排名优先；</li>
        <li>参赛选手完成最后一道题的时间，用时少者排名优先。</li>
    </ol>
    <p>除此之外，时间不会影响选手排名。</p>
    <p>在得分相同的情况下，将会依据以下两个因素进行排名：</p>
    <p>在每一轮比赛中，得分较高的选手晋级下一轮比赛。晋级下一轮比赛的人数将会根据Code Hunt平台和hihoCoder平台的参赛人数，按照相同的比例分别决定。</p>

    <div class="smallHead"></div>
</div>      
    </body>
</html>