<option value="北京大学">北京大学</option>
<option value="北京大学(深研院)">北京大学(深研院)</option>
<option value="北京电影学院">北京电影学院</option>
<option value="北京工业大学">北京工业大学</option>
<option value="北京航空航天大学">北京航空航天大学</option>
<option value="北京化工大学">北京化工大学</option>
<option value="北京交通大学">北京交通大学</option>
<option value="北京科技大学">北京科技大学</option>
<option value="北京理工大学">北京理工大学</option>
<option value="北京联合大学">北京联合大学</option>
<option value="北京林业大学">北京林业大学</option>
<option value="北京师范大学">北京师范大学</option>
<option value="北京外国语大学">北京外国语大学</option>
<option value="北京信息科技大学">北京信息科技大学</option>
<option value="北京邮电大学">北京邮电大学</option>
<option value="北京语言大学">北京语言大学</option>
<option value="成都理工学院">成都理工学院</option>
<option value="重庆大学">重庆大学</option>
<option value="大连海事大学">大连海事大学</option>
<option value="大连理工大学">大连理工大学</option>
<option value="电子科技大学">电子科技大学</option>
<option value="东北大学">东北大学</option>
<option value="东华大学">东华大学</option>
<option value="东南大学">东南大学</option>
<option value="对外经济贸易大学">对外经济贸易大学</option>
<option value="复旦大学">复旦大学</option>
<option value="国防科学技术大学">国防科学技术大学</option>
<option value="哈尔滨工业大学">哈尔滨工业大学</option>
<option value="哈尔滨工业大学(深研院)">哈尔滨工业大学(深研院)</option>
<option value="杭州电子科技大学">杭州电子科技大学</option>
<option value="合肥工业大学">合肥工业大学</option>
<option value="河北大学">河北大学</option>
<option value="黑龙江大学">黑龙江大学</option>
<option value="湖南大学">湖南大学</option>
<option value="华北电力大学">华北电力大学</option>
<option value="华东理工大学">华东理工大学</option>
<option value="华东师范大学">华东师范大学</option>
<option value="华南理工大学">华南理工大学</option>
<option value="华南师范大学">华南师范大学</option>
<option value="华中科技大学">华中科技大学</option>
<option value="吉林大学">吉林大学</option>
<option value="兰州大学">兰州大学</option>
<option value="南京大学">南京大学</option>
<option value="南京航空航天大学">南京航空航天大学</option>
<option value="南京理工大学">南京理工大学</option>
<option value="南开大学" selected="selected">南开大学</option>
<option value="宁波大学">宁波大学</option>
<option value="青岛理工大学">青岛理工大学</option>
<option value="清华大学">清华大学</option>
<option value="清华大学(深研院)">清华大学(深研院)</option>
<option value="厦门大学">厦门大学</option>
<option value="山东大学">山东大学</option>
<option value="上海大学">上海大学</option>
<option value="上海交通大学">上海交通大学</option>
<option value="上海师范大学">上海师范大学</option>
<option value="首都经济贸易大学">首都经济贸易大学</option>
<option value="首都师范大学">首都师范大学</option>
<option value="四川大学">四川大学</option>
<option value="苏州大学">苏州大学</option>
<option value="天津大学">天津大学</option>
<option value="同济大学">同济大学</option>
<option value="武汉大学">武汉大学</option>
<option value="武汉理工大学">武汉理工大学</option>
<option value="西安电子科技大学">西安电子科技大学</option>
<option value="西安交通大学">西安交通大学</option>
<option value="西安科技大学">西安科技大学</option>
<option value="西北工业大学">西北工业大学</option>
<option value="湘潭大学">湘潭大学</option>
<option value="长春理工大学">长春理工大学</option>
<option value="浙江大学">浙江大学</option>
<option value="浙江工业大学">浙江工业大学</option>
<option value="郑州轻工业学院">郑州轻工业学院</option>
<option value="中国传媒大学">中国传媒大学</option>
<option value="中国地质大学">中国地质大学</option>
<option value="中国科学技术大学">中国科学技术大学</option>
<option value="中国科学院半导体研究所">中国科学院半导体研究所</option>
<option value="中国科学院成都计算机应用研究所">中国科学院成都计算机应用研究所</option>
<option value="中国科学院大学">中国科学院大学</option>
<option value="中国科学院电子学研究所">中国科学院电子学研究所</option>
<option value="中国科学院电子研究所">中国科学院电子研究所</option>
<option value="中国科学院高能物理研究所">中国科学院高能物理研究所</option>
<option value="中国科学院计算机网络信息中心">中国科学院计算机网络信息中心</option>
<option value="中国科学院计算技术研究所">中国科学院计算技术研究所</option>
<option value="中国科学院力学研究所">中国科学院力学研究所</option>
<option value="中国科学院软件研究所">中国科学院软件研究所</option>
<option value="中国科学院深圳先进技术研究院">中国科学院深圳先进技术研究院</option>
<option value="中国科学院声学研究所">中国科学院声学研究所</option>
<option value="中国科学院数学与系统科学研究院">中国科学院数学与系统科学研究院</option>
<option value="中国科学院心理研究所">中国科学院心理研究所</option>
<option value="中国科学院遥感卫星地面站">中国科学院遥感卫星地面站</option>
<option value="中国科学院应用数学研究所">中国科学院应用数学研究所</option>
<option value="中国科学院自动化研究所">中国科学院自动化研究所</option>
<option value="中国矿业大学">中国矿业大学</option>
<option value="中国农业大学">中国农业大学</option>
<option value="中国人民大学">中国人民大学</option>
<option value="中南大学">中南大学</option>
<option value="中山大学">中山大学</option>
<option value="中央民族大学">中央民族大学</option>
<option value="香港大学">香港大学</option>
<option value="香港中文大学">香港中文大学</option>
<option value="香港科技大学">香港科技大学</option>
<option value="香港城市大学">香港城市大学</option>
<option value="香港理工大学">香港理工大学</option>
<option value="香港浸会大学">香港浸会大学</option>
<option value="岭南大学">岭南大学</option>
<option value="香港教育学院">香港教育学院</option>
<option value="澳门大学">澳门大学</option>
<option value="澳门理工学院">澳门理工学院</option>
<option value="澳门旅游学院">澳门旅游学院</option>
<option value="澳门科技大学">澳门科技大学</option>
<option value="圣若瑟大学">圣若瑟大学</option>
<option value="澳门城市大学">澳门城市大学</option>
<option value="澳门管理学院">澳门管理学院</option>
<option value="中西创新学院">中西创新学院</option>
<option value="澳门镜湖护理学院">澳门镜湖护理学院</option>
<option value="台湾清华大学">台湾清华大学</option>
<option value="台湾交通大学">台湾交通大学</option>
<option value="台湾阳明大学">台湾阳明大学</option>
<option value="台北大学">台北大学</option>
<option value="台湾联合大学">台湾联合大学</option>
<option value="台北市立教育大学">台北市立教育大学</option>
<option value="台北市立体育学院">台北市立体育学院</option>
<option value="台北教育大学">台北教育大学</option>
<option value="台北艺术大学">台北艺术大学</option>
<option value="台湾大学">台湾大学</option>
<option value="台湾师范大学">台湾师范大学</option>
<option value="台湾中山大学">台湾中山大学</option>
<option value="高雄大学">高雄大学</option>
<option value="高雄师范大学">高雄师范大学</option>
<option value="成功大学">成功大学</option>
<option value="台南大学">台南大学</option>
<option value="台湾中兴大学">台湾中兴大学</option>
<option value="台中教育大学">台中教育大学</option>
<option value="台湾政治大学">台湾政治大学</option>
<option value="新竹教育大学">新竹教育大学</option>
<option value="台湾中正大学">台湾中正大学</option>
<option value="台湾嘉义大学">台湾嘉义大学</option>
<option value="东华大学">东华大学</option>
<option value="台东大学">台东大学</option>
<option value="金门大学">金门大学</option>
<option value="彰化师范大学">彰化师范大学</option>
<option value="台湾艺术大学">台湾艺术大学</option>
<option value="屏东教育大学">屏东教育大学</option>
<option value="台南艺术大学">台南艺术大学</option>
<option value="台湾体育大学">台湾体育大学</option>
<option value="台湾体育运动大学">台湾体育运动大学</option>
<option value="台湾暨南国际大学">台湾暨南国际大学</option>
<option value="台湾宜兰大学">台湾宜兰大学</option>
<option value="台湾海洋大学">台湾海洋大学</option>
<option value="台湾中央大学">台湾中央大学</option>
<option value="其他">其他</option>